

<div class="jumbotron JumboHeaderImg">

  <h2 class="display-4">Connect through</h2>
  <h1 class="lead"> Online Events</h1>
  <br>
  <br>
  <br>
  <br>
    <a class="btn btn-primary btn-lg" href="#" role="button">Browse Events 👉🏼 </a>
</div>


<!-- Card Deck -->
<div class="card-deck">
    <div class="card pmd-card">
        <div class="pmd-card-media">
            <img src="https://images.unsplash.com/photo-1508997449629-303059a039c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" width="1184" height="666" class="img-fluid">
        </div>
        <div class="card-body">
            <h2 class="card-title">Card Title</h2>
            <p class="card-text">Cards provide context and an entry point to more robust information and views. Don't overload cards with extraneous information or actions.</p>
        </div>
    </div>

    <div class="card pmd-card">
        <div class="pmd-card-media">
            <img src="https://images.unsplash.com/photo-1492684223066-81342ee5ff30?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" width="1184" height="666" class="img-fluid">
        </div>
        <div class="card-body">
            <h2 class="card-title">Card Title</h2>
            <p class="card-text">This card has even less content than the first and last card.</p>
        </div>
    </div>

    <div class="card pmd-card">
        <div class="pmd-card-media">
            <img src="https://images.unsplash.com/photo-1501281668745-f7f57925c3b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" width="1184" height="666" class="img-fluid">
        </div>
        <div class="card-body">
            <h2 class="card-title">Card Title</h2>
            <p class="card-text">Cards provide context and an entry point to more robust information and views. Don't overload cards with extraneous information or actions.</p>
        </div>
    </div>
</div>
