
<head>
<div class="jumbotron JumboHeaderImg">
  <div class="container">
  <h2 class="display-4 text-center">Connect through</h2>
  <h1 class="lead text-center"> Online Events</h1>
  <div class="container text-center">
    <a href="<%= root_path%>" class="btn btn-lg btn-primary text-center"  role="button">Browse Events </a>
</div>
</div>
</div>
</head>

<!-- card deck 2--->
<body>
  <div class="row">
        	<% Event.all.each do |event| %>
            <div class="col-4 mb-5">
            <div class="card">
            <img src="https://blogmedia.evbstatic.com/wp-content/uploads/wpmulti/sites/3/2020/04/Step-by-step-guide-to-moving-your-event-online.png" class="card-img-top img-responsive">
            <div class="card-body text-center">
							<h4 class="card-title"> <%= event.title %></h4>
                <hr>
							<span class="card-text"> <%= event.description %></span>
              <br>
                <a href="<%= event_path(event.id) %>" class="btn btn-secondary btn-block btn-sm my-3 btn-2">See the event</a>
					  </div>
			   	</div>
        </div>
        <%end%>
		  </div>
</body>
